<aside class=" body-bg shadow-lg p-4 absolute md:relative lg:relative">
    <nav class="flex flex-col-reverse gap-8 divide-y-2 divide-y-reverse divide-blue-100">
        <a routerLink="/conta" routerLinkActive="font-semibold text-primary">Conta</a>
        <a routerLink="/relatorios" routerLinkActive="font-semibold text-primary">Relatórios</a>
        <a routerLink="/vendas" routerLinkActive="font-semibold text-primary">Vendas</a>
        <a routerLink="/clientes" routerLinkActive="font-semibold text-primary">Clientes</a>
        <a routerLink="/unidades" routerLinkActive="font-semibold text-primary">Unidade de Medida</a>
        <a class="" routerLink="/produtos" routerLinkActive="font-semibold text-primary">Produtos</a>
    </nav>
</aside>