<div class="flex h-screen flex-col">
    <app-loader></app-loader>
    <app-message></app-message>

    <header class="flex items-center justify-between text-white p-2 md:p-4
    lg:p-4 shadow-md">
        <button *ngIf="user$ | async" (click)="toggleSidebar()" class="p-2">
            <i class="fa-solid fa-bars w-8"></i>
        </button>
        <h2 *ngIf="!(user$ | async)"></h2>
        <h1 class="text-lg font-bold"> Balcão Rápido</h1>

        <button class="background" *ngIf="user$ | async" (click)="logout()" class="p-2 md:min-w-16 ">
            <i class="fa-solid fa-right-from-bracket w-8"></i>
        </button>
        <h2 *ngIf="!(user$ | async)"></h2>
    </header>
    <div class="flex flex-1 overflow-hidden">
        <app-sidebar *ngIf="!sidebarOpen"></app-sidebar>
        <main class="flex-1 overflow-y-auto p-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>