<div class="mx-auto w-full overflow-hidden rounded-sm bg-white shadow-md p-2 md:p-4">
    <div class="flex flex-col">
        <h1 class="text-xl p-4 font-bold">PRODUTOS</h1>
        <table class="border-collapse shadow-sm rounded-lg">
            <thead>
                <tr class="border-b-2 bg-blue-100">
                    <th class="sm:p-1 text-left text-sm md:text-base lg:text-base">Nome</th>
                    <th class="sm:p-1 text-left text-sm md:text-base lg:text-base">Estoque</th>
                    <th class="sm:p-1 text-left text-sm md:text-base lg:text-base">Preço</th>
                    <th class="sm:p-1 text-left text-sm md:text-base lg:text-base">Uni. Medida</th>
                    <th class="sm:p-2 max-w-24 min-w-16">
                        <i class="fa-solid fa-plus cursor-pointer" (click)="onCreateItem()"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b-2" *ngFor="let produto of produtos">
                    <td class="sm:p-1 text-left text-sm md:text-base lg:text-base">{{produto.nome}}</td>
                    <td class="sm:p-1 text-left text-sm md:text-base lg:text-base"
                        [ngClass]="{'text-red-600' : produto.estoque <= 0}">
                        {{produto.estoque}}</td>
                    <td class="sm:p-1 text-sm md:text-base lg:text-base">{{produto.preco | currency: 'R$'}}</td>
                    <td class="sm:p-1 text-sm md:text-base lg:text-base">{{produto.unidadeMedida}}</td>
                    <td class="sm:p-2 flex justify-around text-right">
                        <i class="fa-regular fa-pen-to-square cursor-pointer" (click)="onEditItem(produto)"></i>
                        <i class="fa-solid fa-trash cursor-pointer" (click)="onDeleteItem(produto)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="onEdit || onCreate" class="bg-blue-100 mt-4 p-2 rounded-md shadow-md">
        <h2 *ngIf="onEdit" class="text-xl font-semibold">Editar Produto</h2>
        <h2 *ngIf="onCreate" class="text-xl font-semibold">Cadastrar Produto</h2>
        <form (ngSubmit)="createProduto()" (reset)="onCancel()" [formGroup]="form" #profileForm="ngForm"
            class="grid grid-cols-4 gap-4 items-center" validate>
            <div class="flex flex-col mt-4 col-span-3 col-end-4 md:col-span-1">
                <label for="nome">Nome</label>
                <input type="text" id="nome" formControlName="nome" name="nome"
                    class="mt-2 border border-gray-300 rounded-md px-3 py-2" required>
            </div>
            <div class="flex flex-col md:mt-4 col-span-2 md:col-span-1">
                <label for="estoque">Estoque</label>
                <input type="number" id="estoque"
                    oninput="if(this.value.length > 6) this.value = this.value.slice(0,6);" formControlName="estoque"
                    name="estoque" class="mt-2 border border-gray-300 rounded-md px-3 py-2" required>
            </div>
            <div class="flex flex-col md:mt-4 col-span-2 md:col-span-1">
                <label for="preco">Preço</label>
                <input type="number" id="preco" formControlName="preco" tho name="preco"
                    oninput="if(this.value.length > 7) this.value = this.value.slice(0,7);"
                    class="mt-2 border border-gray-300 rounded-md px-3 py-2" required>
            </div>
            <div class="flex flex-col md:mt-4 col-span-2 col-start-1 col-end-4 md:col-span-1">
                <label for="unidadeMedida">Unidade de Medida</label>
                <select id="dropdown" class="mt-2 border border-gray-300 rounded-md px-3 py-2"
                    formControlName="unidadeMedida">
                    <option *ngFor="let unidade of unidades" [value]="unidade.nome" required>{{ unidade.nome }}</option>
                </select>
            </div>
            <button type="submit" class="p-2 col-span-2 md:col-span-1 m-4 md:m-1 bg-blue-500 hover:bg focus:outline-2 
            focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700 rounded-md align-left"
                [disabled]="!profileForm.form.valid">Salvar</button>

            <button type="reset" class="p-2 col-span-2 md:col-span-1 m-4 md:m-1 bg-red-500 hover:bg focus:outline-2 
            focus:outline-offset-2 focus:outline-red-500 active:bg-red-700 rounded-md align-left">Cancelar</button>
        </form>
    </div>
</div>

<app-confirm-modal [show]="showDeleteModal" (confirm)="deleteItem()" (cancel)="showDeleteModal = false">
</app-confirm-modal>